<div class="container mx-auto pt-5">
<h1>Pages#home</h1>
<p class="text-base font-light leading-relaxed mt-5 mb-4">Find me in app/views/pages/home.html.erb</p>
<%= render "layouts/counter_widget"%>
</div>
